
body{
  background-image: url(behrendhacks.png);
}
h1 {
  text-align: center;

}
p{
  padding:1%;
}
.heading{
}
.row{
  padding: 1%;
}
.container-lg {
    color: white;
    background-color: #435772;
}
