
body{
  background-color: rgb(179,244,246) ;
}
h1 {
  text-align: center;
  padding: 5%;
}
p{
  padding:1%;
}
.heading{
}
.row{
  padding: 3%;
}
.container-lg {
    color: white;
    background-color: #435772;
    border-radius: 20px;
}
#logo{
  border-radius: 20px;
}
