
body{
  background-color: rgb(179,244,246) ;
  color: white;
  background-image: url("101010croped.png");
  font-family: 'Roboto', sans-serif;
}
h1 {
  background-color: #435772;
  border-radius: 20px;
  text-align: center;
  padding: 5%;
  font-size:4vw;
  
}
h2{
  background-color: #435772;
  font-size: 3em;
  border-radius: 1px;
  text-align: center;
  padding: 5%;
  font-size:5vw;
}
p{
  padding:1%;
  font-family: "Roboto Condensed";
  font-size: 1.1em;
}
button{
  border-radius: 20px;
}
.container-lg {
    border-radius: 20px;
}
.content{
  /*This is the text block below the heading*/
  background-color: rgb(45,164,168);
  border-radius: 20px;
}
#logo{
  border-radius: 100px;
  padding: 5px;
}

.button-register:hover {
  border-color: transparent;
color: #000;
background-color:
#fff;
}

.section-container {
  padding: 5%;
}

#button-register {
  background: #435772;
  padding: 12px 22px;
  border: 2px solid #435772;
	color: white;
}

#button-register:hover, #button-register:focus, #button-register:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: rgb(45,164,168);
	border-color: rgb(45,164,168);
}
#button-register:active {
	border-color: rgb(45,164,168);
	color:  rgb(45,164,168);
	box-shadow: none;
}
